#content {
  width: 90%;
  background-color: rgba(69, 69, 69, 0);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  transition: opacity 1s;
}

body { 
  background-color: rgba(0, 0, 0, 0); 
  margin: 0px auto; 
  overflow: hidden; 
}

#mainbox {
  display: flex;
  align-items: center;
  justify-content: left;
}

span {
  text-overflow: ellipsis;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:white;
}

#albumimg {
  border-radius: 5px;
  filter: drop-shadow(0px 0px 10px #000000);
}

#title {
  font-weight: bold;
  filter: drop-shadow(0px 0px 10px #000000);
}

#artist {
  filter: drop-shadow(0px 0px 10px #000000);
}

#album {
  font-style: italic;
  filter: drop-shadow(0px 0px 10px #000000);
}

#progressBg {
  margin-top: 10px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: #55555555;
  filter: drop-shadow(0px 0px 10px #000000);
}

#progressBar {
  border-radius: 5px;
  height: 10px;
  background-color: #70e000;
  transition: linear width 0.25s;
}